*.phar
.idea
*~
ci
composer.lock
vendor
poc.php
release.php
tmp/*
phpunit.xml
!bin/splitio.phar
tests/coverage-report/*

bin/splitio.ini
php53test.php
test.php
.phpcd
.vscode
.DS_Store

#vim backup files
*.swp

# phpenv
.php-version

# Sonarqube
.scannerwork

# Tests
.phpunit.result.cache
coverage.xml
