<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">

    <!-- Values for Suites configuration -->
    <php>
        <const name="REDIS_HOST" value="localhost"/>
        <const name="REDIS_PORT" value="6379"/>
    </php>

    <testsuites>
        <testsuite name="splitio">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
        <testsuite name="redis-adapter">
            <file>tests/Suite/Redis/CacheInterfacesTest.php</file>
        </testsuite>
        <testsuite name="common">
            <directory suffix="Test.php">tests/Suite/Common/</directory>
        </testsuite>
        <testsuite name="component">
            <directory suffix="Test.php">tests/Suite/Component/</directory>
        </testsuite>
        <testsuite name="engine">
            <directory suffix="Test.php">tests/Suite/Engine/</directory>
        </testsuite>
        <testsuite name="matchers">
            <directory suffix="Test.php">tests/Suite/Matchers/</directory>
        </testsuite>
        <testsuite name="metrics">
            <directory suffix="Test.php">tests/Suite/Metrics/</directory>
        </testsuite>
        <testsuite name="sdk">
            <directory suffix="Test.php">tests/Suite/Sdk/</directory>
        </testsuite>
        <testsuite name="attributes">
            <directory suffix="Test.php">tests/Suite/Attributes/</directory>
        </testsuite>

        <testsuite name="integration">
            <directory suffix="Test.php">tests/Suite/Common/</directory>
            <directory suffix="Test.php">tests/Suite/Component/</directory>
            <directory suffix="Test.php">tests/Suite/Engine/</directory>
            <directory suffix="Test.php">tests/Suite/Matchers/</directory>
            <directory suffix="Test.php">tests/Suite/Metrics/</directory>
            <file suffix="Test.php">tests/Suite/Sdk/MatcherClientTest.php</file>
            <file suffix="Test.php">tests/Suite/Sdk/SdkClientTest.php</file>
            <file suffix="Test.php">tests/Suite/Sdk/ImpressionWrapperTest.php</file>
            <directory suffix="Test.php">tests/Suite/Attributes/</directory>
        </testsuite>

    </testsuites>

</phpunit>
