<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="SplitIO/Common/Enum.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="53" severity="error" message="No summary for method getValue()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="71" severity="error" message="No summary for method __toString()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="SplitIO/Cache/Pool.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="10" severity="error" message="No summary for class \SplitIO\Cache\Pool" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="24" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="16" severity="error" message="No summary for property $adapter" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="19" severity="error" message="No summary for property $deferred" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Http/Client.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="6" severity="error" message="No summary for class \SplitIO\Http\Client" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="20" severity="error" message="Argument $options is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="20" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="36" severity="error" message="Argument $request is missing from the Docblock of send" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="36" severity="error" message="No summary for method send()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="14" severity="error" message="No summary for property $options" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Common/ErrorHandler.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="6" severity="error" message="No summary for class \SplitIO\Common\ErrorHandler" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Cache/Storage/Adapter/Memcached.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="35" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="58" severity="error" message="No summary for method getItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="81" severity="error" message="No summary for method addItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="89" severity="error" message="No summary for method clear()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="98" severity="error" message="No summary for method deleteItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="107" severity="error" message="No summary for method deleteItems()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="118" severity="error" message="No summary for method save()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="24" severity="error" message="No summary for property $client" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="27" severity="error" message="No summary for property $options" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Cache/CacheKeyTrait.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="12" severity="error" message="Argument $key is missing from the Docblock of assertValidKey" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="12" severity="error" message="No summary for method assertValidKey()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="SplitIO/Http/Exception/HttpServerException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Http\Exception\HttpServerException" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Cache/Storage/Adapter/Filesystem.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="38" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="57" severity="error" message="No summary for method getItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="85" severity="error" message="No summary for method addItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="93" severity="error" message="No summary for method clear()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="107" severity="error" message="No summary for method deleteItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="122" severity="error" message="No summary for method deleteItems()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="139" severity="error" message="No summary for method save()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="158" severity="error" message="No summary for method getFilePath()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="27" severity="error" message="No summary for property $resource" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="30" severity="error" message="No summary for property $options" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Http/Request.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Http\Request" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="14" severity="error" message="Argument $method is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="14" severity="error" message="Argument $uri is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="14" severity="error" message="Argument $headers is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="14" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="21" severity="error" message="No summary for method getUri()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="29" severity="error" message="No summary for method getMethod()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="37" severity="error" message="No summary for method setData()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="45" severity="error" message="No summary for method getData()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="53" severity="error" message="No summary for method getHeaders()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="62" severity="error" message="No summary for method getHeader()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="71" severity="error" message="No summary for method setHeader()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="6" severity="error" message="No summary for property $headers" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="8" severity="error" message="No summary for property $data" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="10" severity="error" message="No summary for property $method" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="12" severity="error" message="No summary for property $uri" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Http/Adapter/HttpCurlAdapter.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="11" severity="error" message="No summary for class \SplitIO\Http\Adapter\HttpCurlAdapter" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="43" severity="error" message="No summary for method doRequest()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="83" severity="error" message="No summary for method setHeaders()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="105" severity="error" message="No summary for method setOptions()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="111" severity="error" message="No summary for method setOptRequest()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="123" severity="error" message="No summary for method httpParseMessage()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="145" severity="error" message="No summary for method getHeadersFromCurlResponse()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="13" severity="error" message="No summary for property $handle" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="16" severity="error" message="No summary for property $httpOptions" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="19" severity="error" message="No summary for property $responseObject" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="22" severity="error" message="No summary for property $responseInfo" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Cache/Storage/Adapter/Redis.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="40" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="63" severity="error" message="No summary for method getItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="82" severity="error" message="No summary for method addItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="90" severity="error" message="No summary for method clear()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="99" severity="error" message="No summary for method deleteItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="114" severity="error" message="No summary for method deleteItems()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="131" severity="error" message="No summary for method save()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="27" severity="error" message="No summary for property $client" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="30" severity="error" message="No summary for property $options" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Common/Singleton.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Common\Singleton" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Log/Handler/LogHandlerInterface.php">
    <error line="17" severity="error" message="Argument $logLevel is missing from the Docblock of write" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="17" severity="error" message="Argument $message is missing from the Docblock of write" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="17" severity="error" message="No summary for method write()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="SplitIO/Http/MethodEnum.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Http\MethodEnum" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Http/ClientOptions.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Http\ClientOptions" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Http/ClientInterface.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for interface &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50009"/>
    <error line="6" severity="error" message="Argument $request is missing from the Docblock of send" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="6" severity="error" message="No summary for method send()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="SplitIO/Cache/Storage/Adapter/CacheStorageAdapterInterface.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for interface &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50009"/>
    <error line="7" severity="error" message="Argument $options is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="7" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="13" severity="error" message="No summary for method getItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="21" severity="error" message="No summary for method addItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="26" severity="error" message="No summary for method clear()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="32" severity="error" message="No summary for method deleteItem()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="38" severity="error" message="No summary for method deleteItems()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="46" severity="error" message="No summary for method save()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="functions_include.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="SplitIO/Cache/Storage/Exception/AdapterException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="6" severity="error" message="No summary for class \SplitIO\Cache\Storage\Exception\AdapterException" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Http/Response.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Http\Response" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="12" severity="error" message="Argument $code is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="12" severity="error" message="Argument $headers is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="12" severity="error" message="Argument $body is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="12" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="22" severity="error" message="No summary for method getStatusCode()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="27" severity="error" message="No summary for method isSuccess()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="32" severity="error" message="No summary for method getHeaders()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="37" severity="error" message="Argument $key is missing from the Docblock of getHeader" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="37" severity="error" message="No summary for method getHeader()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="42" severity="error" message="No summary for method getBody()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="6" severity="error" message="No summary for property $statusCode" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="8" severity="error" message="No summary for property $headers" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="10" severity="error" message="No summary for property $body" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Sdk.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Sdk" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="13" severity="error" message="Argument $args is missing from the Docblock of factory" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="13" severity="error" message="No summary for method factory()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="SplitIO/Http/Adapter/Exception/HttpCurlAdapterOtionsException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="5" severity="error" message="No summary for class \SplitIO\Http\Adapter\Exception\HttpCurlAdapterOtionsException" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Exception/Exception.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Exception\Exception" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Http/Adapter/HttpAdapterInterface.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="6" severity="error" message="No summary for interface &quot;&quot;" source="phpDocumentor.file.PPC:ERR-50009"/>
    <error line="13" severity="error" message="No summary for method doRequest()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
  <file name="SplitIO/Cache/Item.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="8" severity="error" message="No summary for class \SplitIO\Cache\Item" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="34" severity="error" message="Argument $key is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="34" severity="error" message="No summary for method __construct()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="17" severity="error" message="No summary for property $key" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="22" severity="error" message="No summary for property $value" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="27" severity="error" message="No summary for property $hit" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="32" severity="error" message="No summary for property $expire" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Cache/Exception/InvalidArgumentException.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for class \SplitIO\Cache\Exception\InvalidArgumentException" source="phpDocumentor.file.PPC:ERR-50005"/>
  </file>
  <file name="SplitIO/Log/Logger.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="18" severity="error" message="No summary for property $handler" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="SplitIO/Log/Handler/Syslog.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
  </file>
  <file name="SplitIO/functions.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="4" severity="error" message="No summary for function \SplitIO\murmur3()" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
</checkstyle>
